# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (we don't store large datasets in git)
data/*
!data/.gitkeep

# Results & outputs
results/*
!results/.gitkeep

# OS files
.DS_Store

# VS Code
.vscode/